{% set title = 'index' %}
{% extends 'layout.html' %}

{% block content %}

  <h1>{{ title }}</h1>
  
  <section class="container" style="margin-top:100px;">

    <div class="row">
        <aside class="col s3 m3 l3">
            <div class="linha">
                <ul>
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ul>
            </div>
        </aside>
            <article class="col s9 m9 l9">
                <div class="linha">
                    asdsadsadasdasd
                    asdsadsadasdasdasdad
                    asdsadsadasdasd
                    asdawwwww
                    wwwweqweqwe
                    hjkghjgjhj
                </div>
            </article>
    </div>


  </section>

{% endblock %}

